*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(Háttér.png);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;
}
.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
h1{
    color: #fff;
    font-size: 100px;
}
p{
    color: #fff;
    font-size: 11px;
    line-height: 15px;
}
button{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #FFF;
    border: 0;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    transition: color 0.4 linear;
}

button:hover{
    color: gray;
}

.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5;
}

.card1{
    background-image: url(Logo3.png);
}
.card2{
    background-image: url(Eredmények.jpg);
}
.card3{
    background-image: url(Játékosok.jpg);
}
.card4{
    background-image: url(Legendák.jpg);
}
.card5{
    background-image: url(Bernabeu.jpg);
}
.card6{
    background-image: url(Elclasico.jpg);
}


.card:hover{
    transform: translateY(-10px);
}
h5{
    text-shadow: 0 0 5px #999;
    text-align: center;
    color: black;
}
.card p{
    color: #000;
}

#alap{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(Háttér.png);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

h2{
    text-align: center;
    color: #fff;
    font-size: 70px;
}

h3{
    font-size: 30px;
    color: #FFF;
}

p{
    font-size: 18px;
    font-style: italic;
    line-height: 18px;
    text-align: justify;
}

.ferenc{
    width: 20%;
}

.cimerp{
    margin-top: 50px;
    text-align: center;
    font-size: 18px;
    text-align: justify;
    line-height: 20px;
}

.logoh{
    margin-top: 50px;
    width: 30%;
    margin-left: 100px;
    margin-right: 150px;
    float: right;
    border-radius: 10px;
}

.tortenetk{
    float: right;
    width: 15%;
    margin-left: 10px;
}